@model Personaje

<form asp-action="Editar" method="post">
    <input asp-for="Id" class="form-control" /><br />
     <input asp-for="Nombre" class="form-control" /><br />
     <input type="submit" value="Guardar" class="btn btn-primary" />
</form>
