@model PersonajesListadoModel //aca hago referencia a la clase para listar en el DOM, esto viene como parametro en el controlador
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a class="nav-link text-dark" asp-area="" asp-controller="Personajes" asp-action="Editar" asp-route-id="0">Nuevo Personaje</a>
<form asp-action="Listado" method="get">
    <div class="form-group">
        <label class="control-label">Nombre</label>
        <input name="valor" class="form-control" /><br />
    </div>
     <div class="form-group">
        <input type="submit" value="Buscar" class="btn btn-primary" />
    </div>
</form>
<table>
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var personaje in Model.Listado)
        {
            <tr>
                <td>@personaje.Id</td>
                <td>@personaje.Nombre</td>
                <td><a class="nav-link text-dark" asp-area="" asp-controller="Personajes" asp-action="Editar" asp-route-id="@personaje.Id">Editar</a></td> <!--con asp-route-id="personaje.Id" le estamos pasando como parametro el Id del objeto item-->
                <td><a asp-controller="Personajes" asp-action="Eliminar" asp-route-id="@personaje.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>